---
import { stytch } from "@src/lib/stytch";
import Layout from "../layouts/Layout.astro";
import { swell } from "src/lib/swell";
import {
  MONTHS,
  YEARS,
  getCardSummaries,
  getCards,
  updateBillingInfo,
  type CardSummary,
} from "@src/lib/swell/card";
import MapboxAutofill from "@components/solid/MapboxAutofill";
import MapboxConfirmation from "@components/solid/MapboxConfirmation";

const errors = { err: "" };
let message = "";
const mapboxToken = import.meta.env.MAPBOX_DEFAULT_PUBLIC_TOKEN;

// Redirect away from page if necessary
const sessionToken = Astro.cookies.get("gp_session_token")?.value as string;
const session = sessionToken
  ? await stytch.sessions.authenticate({ session_token: sessionToken })
  : null;
const email = session?.user.emails[0].email;
const account = await swell.get(`/accounts/${email}`);
if (!session || !email || !account) {
  return Astro.redirect(
    !session
      ? "/?message=" + encodeURIComponent("You are not logged in")
      : "/create-account",
  );
}

// Get cards and card summaries
const cards = await getCards(email);
const cardSummaries = getCardSummaries(cards, account);

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const cardId = data.get("card_id")?.toString();

  // If cardId is present, update billing info
  if (cardId) {
    await updateBillingInfo(email, sessionToken, cardId);
    message = "Card set as default successfully";
  } else {
    const token = data.get("token")?.toString();
    const name = data.get("name")?.toString();
    const useShippingAddress =
      data.get("same_as_shipping")?.toString() === "on";
    const address1 = data.get("address address-search")?.toString();
    const city = data.get("billing_city")?.toString();
    const state = data.get("billing_state")?.toString();
    const zip = data.get("billing_zip")?.toString();
    const setAsDefaultMethod = data.get("default")?.toString() === "on";
    const shipping = useShippingAddress
      ? account.shipping
      : {
          address1,
          city,
          state,
          zip,
          phone: account.shipping.phone,
          country: "US",
        };

    const card = await swell.post(`/accounts:cards`, {
      parent_id: account.id,
      token,
      billing: {
        name,
        ...shipping,
      },
    });

    if (setAsDefaultMethod) {
      await updateBillingInfo(email, sessionToken, card.id);
      message = "Card added successfully and set as default";
    }
  }

  return Astro.redirect("/billing?message=" + encodeURIComponent(message));
}
---

<Layout>
  <div class="flex w-full">
    <!-- Current Cards Section -->
    <div class="flex flex-col w-1/3 mr-10">
      <h2 class="text-2xl font-bold text-gray-900 my-4">Your Cards</h2>
      <div class="cards-container">
        <!-- Iterating over cards array -->
        {
          cardSummaries.map((card: CardSummary) => (
            <div class="card mb-4 p-4 border rounded-md">
              {card.isDefault && (
                <p class="underline decoration-dotted text-xs font-medium text-gray-700 mb-2">
                  Default
                </p>
              )}
              <p>
                <strong>Card Brand:</strong> {card.brand}
              </p>
              <p>
                <strong>Name:</strong> {card.name}
              </p>
              <p>
                <strong>Card Ending in:</strong> {card.last4}
              </p>
              <p>
                <strong>Expires:</strong> {card.exp_month}/{card.exp_year}
              </p>
              {!card.isDefault && (
                <form method="POST" class="set-default-form">
                  <input type="hidden" name="card_id" value={card.id} />
                  <button class="bg-blue-500 text-white rounded-lg p-2 my-4 hover:bg-blue-600">
                    Set as default
                  </button>
                </form>
              )}
            </div>
          ))
        }
      </div>
    </div>

    <!-- Add Card Section -->
    <div class="flex flex-col w-2/3">
      <h2 class="text-2xl font-bold text-gray-900 my-4">
        Add a Payment Method
      </h2>

      <!-- Error message -->
      <div class="text-red-500 mb-4 error-msg">
        {errors.err}
      </div>

      <form method="POST" id="payment_form">
        <!-- Name on card -->
        <div class="input-group">
          <label
            for="name"
            class="label block text-sm font-medium text-gray-700 mb-2"
            >Name on card</label
          >
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Bob the Tomato"
            required
            class="input border rounded-md p-2 w-1/2 mb-4"
          />
        </div>

        <!-- Card number -->
        <div class="input-group">
          <label
            for="number"
            class="label block text-sm font-medium text-gray-700 mb-2"
            >Card Number</label
          >
          <input
            type="text"
            id="number"
            name="number"
            placeholder="4242424242424242"
            required
            pattern="[0-9]{15,16}"
            maxlength="16"
            minlength="15"
            class="input border rounded-md p-2 w-1/2 mb-4"
            title="Credit card number must be between 15 and 16 digits"
          />
        </div>

        <!-- Expiration date -->
        <div class="flex mb-4">
          <div class="input-group">
            <label
              for="exp_month"
              class="label block text-sm font-medium text-gray-700 mb-2 mr-4"
              >Expiration Month</label
            >
            <select
              id="exp_month"
              name="exp_month"
              required
              class="select border rounded-md"
            >
              {
                MONTHS.map((month) => (
                  <option value={month.value}>{month.label}</option>
                ))
              }
            </select>
          </div>
          <div class="input-group">
            <label
              for="exp_year"
              class="label block text-sm font-medium text-gray-700 mb-2"
              >Expiration Year</label
            >
            <select
              id="exp_year"
              name="exp_year"
              required
              class="select border rounded-md"
            >
              {
                YEARS.map((year) => (
                  <option value={year.value}>{year.label}</option>
                ))
              }
            </select>
          </div>
        </div>

        <!-- CVC -->
        <div class="input-group">
          <label
            for="cvc"
            class="label block text-sm font-medium text-gray-700 mb-2"
            >CVC</label
          >
          <input
            type="text"
            id="cvc"
            name="cvc"
            placeholder="123"
            required
            pattern="[0-9]{3,4}"
            maxlength="4"
            minlength="3"
            class="input border rounded-md p-2 w-1/2 mb-4"
            title="CVC must be between 3 and 4 digits"
          />
        </div>

        <!-- Checkbox for same as shipping address -->
        <div class="input-group">
          <input
            type="checkbox"
            id="same_as_shipping"
            name="same_as_shipping"
            checked
            class="mr-2"
            onclick="toggleBillingAddress(this)"
          />
          <label
            for="same_as_shipping"
            class="text-sm font-medium text-gray-700"
          >
            Billing address is the same as shipping address
          </label>
        </div>

        <!-- Billing Address Fields -->
        <div id="billing_address_fields" class="hidden mt-4">
          <div class="input-group">
            <label
              for="billing_street"
              class="label block text-sm font-medium text-gray-700 mb-2"
              >Street Address</label
            >
            <input
              type="text"
              id="billing_street"
              name="address"
              autocomplete="address-line1"
              class="input border rounded-md p-2 w-1/2 mb-4"
            />
          </div>

          <div class="input-group">
            <label
              for="billing_city"
              class="label block text-sm font-medium text-gray-700 mb-2"
              >City</label
            >
            <input
              type="text"
              id="billing_city"
              name="billing_city"
              autocomplete="address-level2"
              class="input border rounded-md p-2 w-1/2 mb-4"
            />
          </div>

          <div class="input-group">
            <label
              for="billing_state"
              class="label block text-sm font-medium text-gray-700 mb-2"
              >State</label
            >
            <input
              type="text"
              id="billing_state"
              name="billing_state"
              autocomplete="address-level1"
              class="input border rounded-md p-2 w-1/2 mb-4"
            />
          </div>

          <div class="input-group">
            <label
              for="billing_zip"
              class="label block text-sm font-medium text-gray-700 mb-2"
              >Zip Code</label
            >
            <input
              type="text"
              id="billing_zip"
              name="billing_zip"
              autocomplete="postal-code"
              class="input border rounded-md p-2 w-1/2 mb-4"
            />
          </div>
        </div>

        <!-- Set as default method -->
        <div class="input-group">
          <input type="checkbox" id="default" name="default" class="mr-2" />
          <label for="default" class="text-sm font-medium text-gray-700">
            Set as default payment method
          </label>
        </div>

        <!-- Hidden Token -->
        <input type="hidden" name="token" />

        <!-- Submit button -->
        <button
          class="bg-blue-500 text-white rounded-md p-2 w-full my-4 hover:bg-blue-600"
          type="submit"
        >
          Submit
        </button>
      </form>
    </div>
  </div>

  <MapboxAutofill client:only mapboxToken={mapboxToken} />
  <MapboxConfirmation client:only mapboxToken={mapboxToken} />

  <script src="../scripts/PaymentFormHandler.ts"></script>
</Layout>
