---
import Header from "src/components/solid/global/Header";
import Footer from "src/components/solid/global/Footer";
import CartFlyout from "src/components/solid/CartFlyout";
import Breadcrumbs from "src/components/solid/Breadcrumbs";
import SidebarMenu from "src/components/solid/global/SidebarMenu";
import "src/assets/styles/global.css";
import favicon from "src/assets/img/favicon.png";

import { getCategories } from "../lib/swell";

const categories = await getCategories();
const { title, currentCategory } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href={favicon.src} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Goodpluck</title>
  </head>
  <body class="flex flex-col min-h-screen justify-between">
    <div>
      <Header collections={categories} client:load />
      <CartFlyout client:load />
      <main
        id="sidebar-page"
        class="relative w-full min-h-[calc(100vh_-_468px)] flex flex-col"
      >
        <div class="grid grid-cols-5">
          {
            currentCategory && (
              <SidebarMenu
                categories={categories}
                categorySlug={currentCategory.slug}
                client:only
              />
            )
          }
          {!currentCategory && <div />}

          <div class={`col-span-5 ${currentCategory ? "md:col-span-4" : ""}`}>
            {
              currentCategory && (
                // <h4>Bread</h4>
                <Breadcrumbs
                  categories={categories}
                  collectionId={currentCategory.id}
                />
              )
            }
            <slot />
          </div>
        </div>
      </main>
    </div>
    <Footer client:load />
  </body>
</html>
