---
import Header from "@components/solid/global/Header";
import Footer from "@components/solid/global/Footer";
import Cart from "@components/solid/Cart";
import Banner from "@components/solid/Banner";
import Breadcrumb from "@components/solid/Breadcrumb";
import ScrollSpy from "@components/solid/global/ScrollSpy";
import "@assets/styles/global.css";
import favicon from "@assets/img/favicon.png";

const { title, description, categories, currentCollection } = Astro.props;

const isLoggedIn = !!Astro.cookies.get("gp_session_token")?.value; // a local check for quick UI updates
const postcode = Astro.cookies.get("user_postcode")?.value;

let currentCollectionId = 0;
const currentCategoryName =
  currentCollection != null ? currentCollection.name : "";

function getCurrentSubCategories() {
  if (currentCollection == null) {
    return [];
  }
  const subCategories = categories.filter(
    (col: any) => col.parent_id == currentCollection.id,
  );
  if (subCategories) {
    return subCategories;
  }
  return [];
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href={favicon.src} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Goodpluck</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <Banner isLoggedIn={isLoggedIn} client:load />
    <Header collections={categories} client:load />
    <main
      id="sidebar-page"
      class="relative w-full min-h-[calc(100vh_-_468px)] flex flex-col max-w-7xl mx-auto"
    >
      <div class="grid grid-cols-5">
        {
          currentCollection && (
            <ScrollSpy
              categorySlug={currentCollection.slug}
              categories={categories}
              client:only
            />
          )
        }
        {!currentCollection && <div />}

        <div class="col-span-5 md:col-span-4 px-4">
          {
            currentCollection && (
              // <h4>Bread</h4>
              <Breadcrumb
                categories={categories}
                collectionId={currentCollection.id}
              />
            )
          }
          <slot />
        </div>
      </div>
      <Cart postcode={postcode} />
    </main>
    <Footer client:load />
    <script>
      import "preline/dist/preline.js";
    </script>
  </body>
</html>
