---
import Header from "@components/solid/global/Header.tsx";
import Footer from "@components/solid/global/Footer";
import { getOrCreateGuestCart } from "src/lib/swell/cart";
import CartFlyout from "@components/solid/CartFlyout.tsx";
import Banner from "@components/solid/Banner";
import Breadcrumb from "@components/solid/Breadcrumb";
import SidebarMenu from "@components/solid/global/SidebarMenu";
import "@assets/styles/global.css";
import favicon from "@assets/img/favicon.png";
import { isZipCodeDeliverable } from "@utils/validations";
import { useStore } from "@nanostores/solid";
import { swellCartId } from "@src/store";
const $swellCartId = useStore(swellCartId);

const { title, categories, currentCollection } = Astro.props;

// Retrieve session token and get user/cart data
const sessionToken = Astro.cookies.get("gp_session_token")?.value;
let cart = null;

try {
  cart = await getOrCreateGuestCart();
  swellCartId.set(cart?.id);
  console.log("Cart", cart);
} catch (error) {
  console.log("Layout:error|", error);
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href={favicon.src} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Goodpluck</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <Banner
      isZipDeliverable={!!cart?.shipping?.zip}
      deliveryDate={cart?.deliveryDate || null}
      client:load
    />
    <Header collections={categories} client:load />
    <main
      id="sidebar-page"
      class="relative w-full lg:min-h-[calc(100vh_-_468px)] flex flex-col max-w-7xl mx-auto"
    >
      <div class="grid grid-cols-5">
        {
          currentCollection && (
            <SidebarMenu
              categories={categories}
              categorySlug={currentCollection.slug}
              client:only
            />
          )
        }
        {!currentCollection && <div />}

        <div
          class={`col-span-5 ${currentCollection ? "md:col-span-4" : ""} px-4`}
        >
          {
            currentCollection && (
              <Breadcrumb
                categories={categories}
                collectionId={currentCollection.id}
              />
            )
          }
          <slot />
        </div>
      </div>
      <CartFlyout basket={cart} client:only />
    </main>
    <Footer client:load />
    <script>
      import "preline/dist/preline.js";
    </script>
  </body>
</html>
