---
import Header from "src/components/solid/global/Header";
import Footer from "src/components/solid/global/Footer";
import CartFlyout from "src/components/solid/CartFlyout";
import SidebarMenu from "src/components/solid/global/SidebarMenu";
import "src/assets/styles/global.css";
import favicon from "src/assets/img/favicon.png";

import { getCategories } from "../lib/swell";

const categories = await getCategories();
const { title, currentCategory } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href={favicon.src} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Goodpluck</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <Header collections={categories} client:load />
    <CartFlyout client:load />

    {
      currentCategory && (
        <div class="flex">
          <SidebarMenu
            categories={categories}
            categorySlug={currentCategory.slug}
            client:only
          />
          <div class="md:ml-64">
            <slot />
          </div>
        </div>
      )
    }
    {!currentCategory && <slot />}
  </body>
  <Footer client:load />
</html>
